@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Fasthand&family=Fraunces:opsz,wght@9..144,600&family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(to right, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

.whiteBackground{
    height: 600px;
    width: 800px;
    background-color: white;
    border-radius: 20px;
    margin: 90px auto;
    display: flex;
    overflow: hidden;
}

.imgDiv{
    background-color: white;
    height: 600px;
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    background-size: 546px 550px; 
    background-repeat: no-repeat;
    background-position-x: 123%;   
    background-position-y: 10%; 
    background-image: url(./images/bg-pattern-desktop.png);
}

#img-pattern{
    width: 300px;
    height: 300px;
    padding-top: 70px;
    position: relative;
    right:50px;
    top: 90px;
}

.faqDiv{
    background-color: white;
    padding: 40px;
    width: 500px;
    height: 600px;
    font-family: 'Kumbh Sans', sans-serif;
}

.box{
    background-color: white;
    margin-bottom: 20px;
}

#question{
    padding-top: 25px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-top: 15px;
}

.question:hover{
    color: hsl(14, 88%, 65%);
}

.arrow{
    margin-right: 10px;
}

.arrowImgClass{
    width: 10px;
    height: 7px;
    margin-right: 25px; 
}

.answer{
    color: gray;
    max-height: 0;
    overflow: hidden;
    color: hsl(240, 6%, 50%);
}

.hr{
 margin-top: 20px;   
}